:root {
  --background: GhostWhite;
  --black: #1c1c1c;
}

html {
  box-sizing: border-box;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 20px;
  pointer-events: none;
  z-index: 999;
}

.nav-button {
  display: flex;
  pointer-events: auto;
  width: 64px;
  margin-bottom: 20px;
  height: 64px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.nav-button img {
  width: 100%;
  position: absolute;
}

.nav-button div {
  position: absolute;
  font-size: 9pt;
  font-weight: 600;
  text-align: center;
  color: black;
}

.flex-wrapper {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.flex-wrapper h1 {
  pointer-events: none;
  width: 90%;
  text-align: center;
  font-size: min(5vw, 6em);
  font-weight: 800;
  position: absolute;
  text-shadow: 0px 0px 0.1em rgba(0, 0, 0, 0.8);
}

.guidelines-section {
  position: relative;
  min-width: 4vw;
  width: 0;
  overflow: hidden;
  flex-grow: 1;
  height: 100vh;
  transition: width 0.35s;
}

.guidelines-section:hover {
  width: 12vw;
}

.preview-video-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.preview-video {
  width: 100vh;
  height: 100vh;
}

.duotone {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.duotone-light {
  mix-blend-mode: darken;
}

.duotone-dark {
  mix-blend-mode: overlay;
}

.sectionTitle-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 56px;
}

.sectionTitle-container h2 {
  text-align: center;
  text-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.2);
  letter-spacing: 0.05em;
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 0;
  transform-origin: 70% center;
}

.fadeIn {
  width: 0%;
  animation-name: expand;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid var(--background) 1px;
  background-color: black;
}

.handler {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--background);
  border: solid var(--background) 2px;
  cursor: grab;
  transition: transform 0.2s, background-color 0.3s;
}

.handler:hover {
  transform: scale(1.3);
}

.handler:active {
  transition: transform 0s;
  transform: scale(1.15);
  cursor: grabbing;
}

.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.double-container {
  display: flex;
  align-items: stretch;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.grid-unit {
  position: relative;
  border: solid var(--background) 1px;
  overflow: hidden;
}

.half {
  flex-basis: 50%;
}

.grid-unit video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 101%;
}

.play-button-large-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.play-button-large-container:hover {
  background-color: transparent;
}

.play-button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  transition: opacity 0.2s;
}

.play-button-large img {
  width: 50%;
  height: auto;
}

.controller-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--black);
}

.slider-container {
  align-self: flex-start;
  width: 100%;
  cursor: pointer;
  position: absolute;
  transition: transform 0.2s;
}

.slider-padding {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 16px;
}

.slider-container:hover {
  transform: scaleY(2);
}
.slider-container:hover .controller-handler {
  transform: scale(2, 1);
}

.slider-background {
  width: 100%;
  background-color: rgb(80, 80, 80);
  border-left: 2px #1c1c1c solid;
  border-right: 2px #1c1c1c solid;
}

.controller-slider {
  position: relative;
  height: 4px;
  background-color: blue;
  transition: transform 0.2s;
}

.controller-handler {
  background-color: blue;
  border-radius: 100%;
  position: absolute;
  top: -2px;
  left: 0em;
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: transform 0.2s;
}

.controller-button {
  margin-top: 4px;
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.controller-button img {
  height: 24px;
  width: 24px;
}

.volume-container {
  margin-left: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.volume-container:hover .volume-slider-container {
  opacity: 1;
  width: 100px;
  transition: width 0.2s;
}

.volume-slider-container {
  width: 0px;
  padding: 8px 6px;
  opacity: 0;
  transition: opacity 0.2s, width 0.3s;
  overflow-x: hidden;
}

.volume-slider-background {
  width: 80px;
  height: 4px;
}

.volume-slider {
  position: relative;
  width: 80px;
  height: 4px;
  background-color: var(--background);
}

.volume-handler {
  position: absolute;
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--background);
}

.time-container {
  pointer-events: none;
  color: var(--background);
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  margin: 2rem;
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
